
@{
    ViewBag.Title = "User Bill Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/moment.js"></script>

    <script>import moment from 'moment';</script>
    <script>
        new Vue({
            el: '#userBills',
            data: {
                orders: [],
                selected: []
            },
            mounted: function () {
                axios.get('/Bills/BillManagerJson')
                    .then(response => {
                        this.orders = response.data
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            methods: {
                format_date(value) {
                    if (value) {
                        return moment(String(value)).format('MMMM Do YYYY, h: mm: ss a')
                    }
                },
                calTotalForSingleProduct: function (bill) {
                    return bill.amount * bill.quantity;
                },
                cellClick(index) {
                    if (!this.selected.includes(index)) {
                        this.selected.push(index)
                    } else {
                        this.selected.splice(this.selected.indexOf(index), 1)
                    }
                    console.log(this.selected)
                }

            }
        })
    </script>
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/Design Images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Bill Manager</h1>
                <p class="breadcrumbs">
                    <span class="mr-4"><a href="/Accounts/Edit">Edit Profile</a></span>
                    <span class="mr-4"><a class="link-active" href="/Manager/BillManager">order management</a></span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div id="userBills" class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="cart-list">
                    <table v-for="(order, index) in orders" class="table">
                        <thead v-on:click="cellClick(index)" class="thead-primary">
                            <tr class="text-center">
                                <th>{{order.ID}}</th>
                                <th>Product</th>
                                <th>Total</th>
                                <th>Ordertime</th>
                                <th>
                                    <a v-if="order.status == 0" v-bind:href="'/Bills/ChangeStatus?billID=' + order.ID + '&type=0'" class="btn btn-danger link-active">CANCEL</a>
                                    <a v-if="order.status == 2" class="btn btn-success link-active">Success</a>
                                    <a v-if="order.status == 1" v-bind:href="'/Manager/ChangeStatus?sBillID=' + order.ID + '&sType=0'" id="btnPending" class="btn btn-secondary ">Pending - Click to Cancel</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody :class="{hide: !selected.includes(index)}">
                            <tr v-for="bill in order.bills" class="text-center">
                                <td class="image-prod">
                                    <a v-bind:href="'/Products/ProductDetail?productID=' + bill.Product.productID">
                                        <img class="img" v-bind:src="bill.Product.image" />
                                    </a>
                                </td>
                                <td class=""><a v-bind:href="'/Products/ProductDetail?productID=' + bill.Product.productID">{{bill.Product.title}}</a></td>
                                <td>${{calTotalForSingleProduct(bill)}}</td>
                                <td>{{format_date(bill.orderTime)}}</td>
                                <td class="quantity manager">
                                    <p>
                                        <a v-if="bill.status == 2" v-bind:href="'/Evaluates/Evaluate?productID=' + bill.Product.productID + '&BillId=' + bill.BillID" class="btn btn-primary py-3 px-4">Review</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>