
@{
    ViewBag.Title = "Staff Bill Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/moment.js"></script>

    <script>import moment from 'moment';</script>
    <script>
        new Vue({
            el: '#manageBills',
            data: {
                order: {},
                text: ''
            },
            mounted: function () {
                axios.get('/Bills/StaffBillManagerJson')
                    .then(response => {
                        this.order = response.data
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            methods: {
                format_date(value) {
                    if (value) {
                        return moment(String(value)).format('MMMM Do YYYY, h: mm: ss a')
                    }
                },
                calTotalForSingleProduct: function (bill) {
                    return bill.amount * bill.quantity;
                },
                searchByID() {
                    axios.get('/Bills/StaffBillManagerJson', {
                        params: {
                            billId: this.text
                        }
                    })
                        .then(response => {
                            if (response.data.type == 1) {
                                this.order = response.data
                                console.log(response.data)
                            } else {
                                Swal.fire({
                                    position: 'Center',
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.data.message,
                                })
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },
                searchByIDHasParam(billID) {
                    axios.get('/Bills/StaffBillManagerJson', {
                        params: {
                            billId: billID
                        }
                    })
                        .then(response => {
                            if (response.data.type == 1) {
                                this.order = response.data
                                console.log(response.data)
                            } else {
                                Swal.fire({
                                    position: 'Center',
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.data.message,
                                })
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },
                changeStatus(billId) {
                    axios.get('/Manager/ChangeStatus', {
                        params: {
                            sBillId: this.text,
                            sType: "1"
                        }
                    })
                        .then(response => {
                            this.order = response.data
                            console.log(response.data)
                            this.searchByIDHasParam(this.text)
                        })
                        .catch(error => {
                            console.log(error)
                        })

                }
            }
        })
    </script>
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/Design Images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Bill Manager</h1>
                <p class="breadcrumbs">
                    <span class="mr-4"><a href="/Manager/ContactManager">Contact Manager</a></span>
                    <span class="mr-4"><a class="link-active" href="">Bill Manager</a></span>
                    <span class="mr-4"><a class="" href="/Products/UploadProduct">Upload Product</a></span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div id="manageBills" class="container">
        <div class="form-control-lg p-5">
            <span class="mr-4">Bill ID:</span> <input type="text" v-model="text"/>
            <button class="btn btn-secondary" v-on:click="searchByID">Search</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cart-list">
                    <!-- Truong hop Search ra Bill ID chua giao hang thanh cong (Pending)-->
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>{{order.ID}}</th>
                                <th>Total</th>
                                <th>Order Time</th>
                                <th>Username</th>
                                <th>
                                    <a v-if="order.status == 2" class="btn btn-success link-active">DELIVERY SUCCESS</a>
                                    <a v-if="order.status == 0" class="btn btn-danger link-active">CANCELED</a>
                                    <a v-if="order.status == 1" v-on:click="changeStatus(order.ID)" class="btn btn-secondary">PENDING - Click to confirm success!</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="bill in order.bills" class="text-center">
                                <td class="">
                                    <a v-bind:href="'/Products/ProductDetail?productID=' + bill.Product.productID">
                                        {{bill.Product.title}}
                                    </a>
                                </td>
                                <td class="">${{calTotalForSingleProduct(bill)}}</td>
                                <td>{{format_date(bill.orderTime)}}</td>
                                <td>{{bill.userName}}</td>
                                <td></td>
                            </tr><!-- END TR-->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>