<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--Fontawesome-->
    <link href="~/Content/css/fontawesome/all.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href=@Url.Content("~/Content/css/open-iconic-bootstrap.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/animate.css")>

    <link rel="stylesheet" href=@Url.Content("~/Content/css/owl.carousel.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/owl.theme.default.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/magnific-popup.css")>

    <link rel="stylesheet" href=@Url.Content("~/Content/css/aos.css")>

    <link rel="stylesheet" href=@Url.Content("~/Content/css/ionicons.min.css")>

    <link rel="stylesheet" href=@Url.Content("~/Content/css/bootstrap-datepicker.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/jquery.timepicker.css")>

    <link rel="stylesheet" href=@Url.Content("~/Content/css/flaticon.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/icomoon.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/style.css")>

    <link href="~/Content/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

</head>
<body class="goto-here">
    <!-- Header -->
    <div class="py-1 bg-black d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center">
                                <span class="icon-phone2"></span>
                            </div>
                            <span class="text">+ 1235 2355 98</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center">
                                <span class="icon-paper-plane"></span>
                            </div>
                            <span class="text">youremail@email.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">BookStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="/Products/Product" class="nav-link">Product</a></li>
                    @if (Session["user"] != null) {
                        if (Session["role"].ToString().Equals("1")) {
                            <li class="nav-item"><a href="/Manager/AdminBillManager" class="nav-link"><span><i class="fas fa-user"></i></span> ADMIN Manager</a></li>
                        } else if (Session["role"].ToString().Equals("3")) {
                            <li class="nav-item"><a href="/Manager/ContactManager" class="nav-link"><span><i class="fas fa-user"></i></span> Staff Manager</a></li>
                        } else {
                            <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
                            <li class="nav-item cta cta-colored">
                                <a href="/Accounts/Edit" class="nav-link"><span><i class="fas fa-user"></i></span> Account</a>
                            </li>
                            <li class="nav-item cta cta-colored">
                                <a href="/Carts/Cart" class="nav-link"><span><i class="fas fa-shopping-cart"></i></span>Cart</a>
                            </li>
                        }
                    }
                    @if (Session["user"] == null) {
                        <li class="nav-item cta cta-colored">
                            <a href="/Carts/Cart" class="nav-link"><span><i class="fas fa-shopping-cart"></i></span>Cart</a>
                        </li>
                        <li class="nav-item cta cta-colored">
                            <a href="/Accounts/SignIn" class="nav-link"><span><i class="fas fa-sign-in-alt"></i></span> Sign in</a>
                        </li>
                    } else {
                        <li class="nav-item cta cta-colored">
                            <a href="/Accounts/SignOut" class="nav-link"><span><i class="fas fa-sign-out-alt"></i></span> Sign out</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @if (Session["user"] == null || Session["role"].ToString().Equals("2")) {
            <a href="/Carts/Cart">
                <div class="cartfixed d-none d-lg-block d-xl-block">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </a>
        }
        <div class="social d-none d-lg-block d-xl-block">
            <a href="#"><i class="fab fa-facebook-f"></i></a><br>
            <a href="#"><i class="fab fa-twitter"></i></a><br>
            <a href="#"><i class="fab fa-instagram"></i></a><br>
        </div>
    </nav>
    <!--End Header -->

    @RenderBody()

    <!-- Footer -->
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Minishop</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Shop</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Journal</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>
                                    <span class="icon icon-map-marker"></span><span class="text">
                                        Hoa Lac Hi-tech park
                                        Thạch Thất, Hà Nội, Việt Nam
                                    </span>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon icon-phone"></span><span class="text">
                                            +84 964 115 472
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon icon-envelope"></span><span class="text">pes2020testing@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/scrollax.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Content/sweetalert2/dist/sweetalert2.all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>